<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <style>
        body{
            background-color: burlywood;
            color:black;
        }
    </style>
  </head>
  <body>
<h1>DIAGNOSIS</h1>
	
{% if filename %}
<div>
    <img src="{{ url_for('display_image', filename=filename) }}">

</div>
image is preprocessed and fed to the recognition model
{% endif %}
  </body>
</html>












